/code/backend/assets/
/code/backend/assets/*

/code/frontend/assets/
/code/frontend/assets/*

/code/extra/
/code/extra/*

/code/vendor/
/code/vendor/*

composer.json

*.log

/code/uploads/
/code/uploads/*

s



